Backup/
iWB2 Leaner/
Library/
library/Private variables.ahk
OLD/
QS backups/
Requests/
Signatures/
Templates/
install.ini
QIP clicks.xlsx
QIP_log.txt
QSLog.txt
Quick Spiritum.ahk
settings.ini
Update Master File.ahk


